@mixin border-radius-img-index
{
    border-radius: 6% 6% 0% 0%;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, .17);
}

@mixin border-radius-information-index
{
    border-radius: 0% 0% 6% 6%;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, .17);
    background-color: white;
}