@mixin border-radius-img-index
{
    border-radius: 15px 15px 0% 0%;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, .12);
}

@mixin border-radius-information-index
{
    border-radius: 0% 0% 15px 15px;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, .12);
    background-color: white;
}

@mixin h1-index 
{
    padding-left: 5%;  /* En px ou % ? */ 
    padding-top: 12%;
    margin-bottom: -2%;
}

@mixin space-p-restaurants
{
    padding-left: 4%;
}