// Mixins générales

// Map breakpoints
$breakpoints: ( /* Utiliser max-witdth */
    mobile-small: 320px, 
    mobile-medium: 375px,
    mobile-large: 425px,
    tablet: 768px,
    laptop: 1024px,
    laptop-large: 1440px

);

// Mixins générales
@mixin breakpoints
{
    @media screen and (max-width: map-get($breakpoints, mobile-small))
    {
        
    }
}

// Mixins Tablette
@mixin tablet-booking-br /*  À changer de place */
    {
        @media screen and (min-width: map-get($breakpoints, mobile-large))
        {
            .remove-size
            {
                display: none;
            }
        }
    }

// Body
@mixin body 
{
    background-color: white;
	margin:0;
	padding:0;
	overflow-x: hidden;
    font-family: Roboto;
}

@mixin font-weight-title
{
    font-size: 1.1rem;
}

@mixin background-color
{
    background-color: #f5f5f5;    
}

@mixin fa-heart /* Pour toutes les pages */
{
    display: flex;
    align-items: center;
    padding-right: 6%; /* 9% à l'origine si besoin de changer */
    font-size: 1.5em;
    margin-bottom: 2%;
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
    &:hover
    {
        color: linear-gradient(#9356DC, #FF79DA);
        background: linear-gradient(#9356DC, #FF79DA); /* +++ */
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px black; 
    }
}


// Footers
@mixin nolists
{
    list-style-type: none;
    
    a:link, a:active, a:visited
    {
        text-decoration: none;
    }
}

@mixin footer
{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.801); 
        img /* Contient couleur pour svg */
        {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(104%) contrast(101%);
            width: 6rem;
            padding-left: 5.5%;
            margin-bottom: -4px;
            padding-top: 6%;
        }
        .about
        {
            @include nolists;
            padding-left: 5.5%;
        }

        p, a
        {
            color: white;
        }

        p
        {
            padding-left: 5.5%;
            margin-bottom: -5px;
            padding-top: 1%;
            font-family: Shrikhand;
        }

        nav
        {
            padding-bottom: 3%;
        }

        .fas
        {
            color: white;
            padding-right: 1%;
        }

        .fa-ustensils, .icone-sentence
        {
            padding-left: 5px;
        }
}
