// Map breakpoints
$breakpoints: ( /* Utiliser max-witdth */
    mobile-small: 375px, 
    mobile-medium: 425px,
    mobile-large: 768px,
    tablet: 1024px,
    laptop: 1440px,
    laptop-large: 2560px

);

// Mixins générales
@mixin breakpoints
{
    @media screen and (max-width: map-get($breakpoints, mobile-small))
    {
        
    }
}

@mixin background-color
{
    background-color: #f5f5f5;    
}

@mixin header-title-index /* Centrage titre */
{
    font-size: 1.7rem;
    display: flex;
    margin: 0 auto; /* Pour centrer */
    margin-top: 10px;
    margin-bottom: 10px;
}

@mixin header-title-restaurants /* Centrage titre */
{
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: Shrikhand;
}

@mixin footer-title
{
    font-family: Shrikhand;
}

@mixin nolists
{
    list-style-type: none;
    
    a:link, a:active, a:visited
    {
        text-decoration: none;
    }
}

@mixin nolists-restaurants
{
    list-style-type: none;
    
    a:link, a:active, a:visited
    {
        text-decoration: none;
        color: black;
    }
}

@mixin radius-shadow
{
    border-radius: 6%;
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
}

@mixin btn-index
{
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, .12);
    border: none;
    width: 118%;
    padding: 7% 0%;
    margin: 0% -8%;
    border-radius: 100px;
    color: white;
    font-size: 1.05rem;
}

@mixin btn-restaurants
{
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, .12);
    border: none;
    width: 69%;
    padding: 6% 0%;
    margin: 0% 16%;
    border-radius: 100px;
    color: white;
    font-size: 1.05rem;
    margin-top: 14%;
    margin-bottom: 22%;
}

// Footers

@mixin footer
{
    background-color: rgba(0, 0, 0, 0.801);   
        .about
        {
            @include nolists;
            padding-left: 16px;
        }

        p, a
        {
            color: white;
        }

        p
        {
            padding-left: 16px;
            margin-bottom: -5px;
        }

        .fas
        {
            color: white;
            padding-right: 1%;
        }

        .fa-ustensils, .icone-sentence
        {
            padding-left: 5px;
        }
}
