@font-face /* Logo et titres */ {
  font-family: Shrikhand;
  src: url("Fonts/Police/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face /* Texte */ {
  font-family: Roboto;
  src: url("Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
}

header {
  font-family: Shrikhand;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  color: black;
}

.header-title {
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  /* Pour centrer */
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  border: none;
  width: 52%;
  padding: 11px 0px;
  border-radius: 30px;
  color: white;
  font-size: 1.05rem;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid;
  border-top-color: #c2c2c2;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
  flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.88rem;
}

.location i {
  margin-left: -5%;
  margin-right: 5%;
  padding-bottom: 2px;
}

.location p {
  font-weight: bold;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 50px;
}

.booking p {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

.booking :nth-child(2) {
  font-size: 1.1rem;
  color: #828282;
  font-weight: normal;
  margin-top: -15px;
}

h1 {
  padding-left: 5%;
  /* En px ou % ? */
}

.nav .nav-links {
  list-style-type: none;
}

.nav .nav-links a:link {
  text-decoration: none;
}

.nav .nav-links li {
  border-radius: 6%;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 11px 0px;
  margin-bottom: 4%;
  width: 90%;
}

.nav .nav-links li a {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links li a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links li a p, .nav .nav-links li a i {
  margin-right: 10%;
  font-weight: bold;
}

.nav .nav-links li a .fas {
  color: #828282;
}

.nav .nav-links li a .dot {
  display: block;
  background-color: #9356DC;
  width: 100%;
  border-radius: 50%;
  color: white;
  padding: 7px;
  font-weight: normal;
  margin-left: -74%;
}

.restaurants {
  background-color: #f5f5f5;
  list-style-type: none;
}

.restaurants a:link {
  text-decoration: none;
}

.restaurants .fa-heart:before {
  color: black;
}

.restaurants-cards > div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}

.restaurants-cards > div img {
  border-radius: 6% 6% 0% 0%;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.restaurants-cards > div > div {
  width: 100%;
  border-radius: 0% 0% 6% 6%;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  background-color: white;
}

.restaurants-cards > div > div div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  background-color: rgba(0, 0, 0, 0.801);
}

footer .about {
  list-style-type: none;
}

footer .about a:link {
  text-decoration: none;
}

footer p, footer a {
  color: white;
}

footer .fas {
  color: white;
  padding-right: 1%;
}

footer .fa-ustensils, footer .icone-sentence {
  padding-left: 5px;
}
/*# sourceMappingURL=style.css.map */