// Mixins
@import "mixins-index.scss";
@import "mixins.scss";

// Les @extend ... Bof, préférer les @mixins

// Page
@font-face /* Logo et titres */
{
    font-family: Shrikhand;
    src: url('Fonts/Police/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face /* Texte */
{
    font-family: Roboto;
    src: url('Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	@include body;
}

header
{
    @include header;
}

h1
{
    @include h1-title;
}

p /* Probablement inutile, à enlever si c'est le cas */
{
    @include p;
}

.link-title
{
    @include link-title;
    .header-title
    {
        @include header-title-index;
    }
}

// Section .discover --> Changer en #discover
$location-bg: #f5f5f5;

.discover
{
    @include discover;
}

//  Section .location
.location
{
    @include location;
}

// Section .booking
.booking
{
    @include booking;
}

// Section .nav --> Changer en #nav
h1
{
    @include h1-index;   
}

.nav
{
    @include nav;
}

.restaurants
{
    @include restaurants
}

// Footer 
footer
{
    @include footer;
}