@charset "UTF-8";
@font-face /* Logo et titres */ {
  font-family: Shrikhand;
  src: url("Fonts/Police/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face /* Texte */ {
  font-family: Roboto;
  src: url("Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
}

header {
  font-family: Shrikhand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  color: black;
}

.link-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.link-title .header-title {
  width: 45%;
  margin-top: 4%;
  margin-bottom: 3%;
}

.discover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid;
  border-top-color: #c2c2c2;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
  flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.88rem;
}

.location i {
  margin-left: -5%;
  margin-right: 5%;
  padding-bottom: 2px;
}

.location p {
  font-weight: bold;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 50px;
}

.booking p {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

.booking :nth-child(2) {
  font-size: 1.1rem;
  color: #828282;
  font-weight: normal;
  margin-top: -15px;
}

.booking .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  border: none;
  width: 118%;
  padding: 7% 0%;
  margin: 0% -8%;
  border-radius: 100px;
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
}

.booking .button:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.22);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.22);
}

@media screen and (min-width: 426px) {
  .booking .remove-size {
    display: none;
  }
}

h1 {
  padding-left: 5%;
  /* En px ou % ? */
  padding-top: 7%;
  margin-bottom: -2%;
}

.nav .nav-links {
  list-style-type: none;
}

.nav .nav-links a:link, .nav .nav-links a:active, .nav .nav-links a:visited {
  text-decoration: none;
}

.nav .nav-links li {
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 11px 0px;
  margin-bottom: 4%;
  width: 94%;
}

.nav .nav-links li:hover {
  background-color: rgba(147, 86, 220, 0.12);
}

.nav .nav-links li:hover .fas {
  color: #9356DC;
}

.nav .nav-links li a {
  width: 100%;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links li a > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-links li a .fas {
  color: #828282;
}

.nav .nav-links li a i {
  margin-right: 5%;
  margin-left: 5%;
  font-weight: bold;
}

.nav .nav-links li a p {
  font-weight: bold;
}

.nav .nav-links li a .circle {
  display: block;
  background-color: #9356DC;
  width: 100%;
  border-radius: 50%;
  color: white;
  padding: 7px;
  font-weight: normal;
  margin-left: -74%;
}

.nav .nav-links li a .circle .circle-text {
  position: initial;
  text-align: center;
}

.nav .nav-links li a .fa-mobile-alt p {
  margin-left: 2%;
}

@media screen and (min-width: 426px) {
  .nav h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 28px;
    padding-left: 0%;
  }
  .nav .tablet-h1-restaurants {
    padding-left: 0%;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 769px) {
  .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav li {
    height: 150px;
    width: 500px;
  }
  .nav .li-2 {
    margin-left: 4%;
    margin-right: 4%;
  }
  .nav .li-3 {
    margin-right: 5.7%;
  }
}

.restaurants {
  background-color: #f5f5f5;
  list-style-type: none;
  padding-bottom: 10%;
  margin-top: 18%;
}

.restaurants a:link, .restaurants a:active, .restaurants a:visited {
  text-decoration: none;
}

.restaurants p {
  padding-left: 4%;
}

.restaurants i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 6%;
  /* 9% à l'origine si besoin de changer */
  font-size: 1.5em;
  margin-bottom: 2%;
  background-color: transparent;
  color: white;
  -webkit-text-stroke: 1px black;
}

.restaurants i:hover {
  color: linear-gradient(#9356DC, #FF79DA);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  /* +++ */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px black;
}

.restaurants .restaurants-cards > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 10%);
  max-width: 383px;
  margin-bottom: -2%;
  margin-left: auto;
  margin-right: auto;
}

.restaurants .restaurants-cards > div img {
  border-radius: 15px 15px 0% 0%;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .restaurants-cards > div .new {
  width: 28%;
  height: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: -44px;
  left: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}

.restaurants .restaurants-cards > div > div {
  width: 100%;
  border-radius: 0% 0% 15px 15px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  background-color: white;
}

.restaurants .restaurants-cards > div > div p {
  font-size: 1.1rem;
}

.restaurants .restaurants-cards > div > div div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 43px;
}

.restaurants .restaurants-cards > div > div div:nth-child(2) {
  height: 30px;
}

.restaurants .restaurants-cards > div .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 69px;
}

.restaurants .restaurants-cards > div .test p:nth-child(1) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 11px;
}

.restaurants .restaurants-cards > div .test i:nth-child(2) {
  width: 3%;
  /* Origine 0% */
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: -28px;
}

.restaurants .restaurants-cards > div .test p:nth-child(3) {
  width: 83%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: -16px;
}

.restaurants .restaurants-cards .div-1 {
  margin-bottom: 6%;
}

.restaurants .restaurants-cards .div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 10%);
  max-width: 383px;
  margin-bottom: 6%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 465px) {
  .restaurants .restaurants-cards .tablet-palette {
    margin-bottom: 2%;
  }
}

@media screen and (min-width: 426px) {
  .restaurants h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 28px;
    padding-left: 0%;
  }
  .restaurants .tablet-h1-restaurants {
    padding-left: 0%;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 769px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 13%;
  }
  .restaurants h1 {
    width: 100%;
    padding-top: 5%;
  }
  .restaurants .restaurants-cards {
    max-width: none;
    width: 383px;
  }
}

@media screen and (min-width: 769px) and (min-width: 1150px) {
  .restaurants .restaurants-cards .div-2 {
    padding-top: 30px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.801);
}

footer img {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(104%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(168deg) brightness(104%) contrast(101%);
  width: 6rem;
  padding-left: 5.5%;
  margin-bottom: -4px;
  padding-top: 6%;
}

footer .about {
  list-style-type: none;
  padding-left: 5.5%;
}

footer .about a:link, footer .about a:active, footer .about a:visited {
  text-decoration: none;
}

footer p, footer a {
  color: white;
}

footer p {
  padding-left: 5.5%;
  margin-bottom: -5px;
  padding-top: 1%;
  font-family: Shrikhand;
}

footer nav {
  padding-bottom: 3%;
}

footer .fas {
  color: white;
  padding-right: 1%;
}

footer .fa-ustensils, footer .icone-sentence {
  padding-left: 5px;
}

/* Tablette */
/* Fin tablette */
/* Laptop classic */
/* Fin laptop classic */
/* Laptop L */
/* Fin laptop L */
/*# sourceMappingURL=style.css.map */