@font-face /* Logo et titres */ {
  font-family: Shrikhand;
  src: url("Fonts/Police/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face /* Texte */ {
  font-family: Roboto;
  src: url("Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div a {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: 5%;
  margin-bottom: 2%;
}

header div a button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

header div .header-title {
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin-right: 5%;
  font-family: Shrikhand;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Shrikhand;
}

img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.restaurant-menus {
  background-color: #f5f5f5;
  list-style-type: none;
}

.restaurant-menus a:link, .restaurant-menus a:active, .restaurant-menus a:visited {
  text-decoration: none;
  color: black;
}

.restaurant-menus .restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-menus .restaurant i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 9%;
}

.restaurant-menus .restaurant h1 {
  font-weight: bold;
  padding-left: 3.5%;
}

.restaurant-menus .starters h2, .restaurant-menus .courses h2, .restaurant-menus .deserts h2 {
  border-bottom: #99E2D0 solid 3px;
  width: 53px;
  /* media query, faudra autre solution ou pas ? */
  padding-bottom: 2%;
}

.restaurant-menus .dishes__box {
  border-radius: 6%;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  background-color: white;
}

.restaurant-menus .dishes__menu {
  font-weight: bold;
}

.restaurant-menus .dishes__detailed-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-menus .button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
          box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.12);
  border: none;
  width: 69%;
  padding: 6% 0%;
  margin: 0% 16%;
  border-radius: 100px;
  color: white;
  font-size: 1.05rem;
  margin-top: 14%;
  margin-bottom: 22%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.801);
}

footer .about {
  list-style-type: none;
  padding-left: 16px;
}

footer .about a:link, footer .about a:active, footer .about a:visited {
  text-decoration: none;
}

footer p, footer a {
  color: white;
}

footer p {
  padding-left: 16px;
  margin-bottom: -5px;
}

footer .fas {
  color: white;
  padding-right: 1%;
}

footer .fa-ustensils, footer .icone-sentence {
  padding-left: 5px;
}

footer p {
  font-family: Shrikhand;
}
/*# sourceMappingURL=style.css.map */