// Mixins
@import "../mixins.scss";
@import "mixin-francaise.scss";

// Variables

// Page
@font-face /* Logo et titres */
{
    font-family: Shrikhand;
    src: url('Fonts/Police/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face /* Texte */
{
    font-family: Roboto;
    src: url('Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: white;
	margin:0;
	padding:0;
	overflow-x: hidden;
    font-family: Roboto;
}

header div
{
    @include header-div;
    a
    {
        @include left-arrow-title;
        button
        {
            background-color: Transparent;
            border: none;
            cursor: pointer;
        }
    }
    .header-title
    {
        @include header-title;
    }   
}

h1
{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: Shrikhand;
}

img
{
    width: 100%;
    object-fit: cover;
}

.restaurant-menus /* Les esperluettes à renomer. Uniquement les pseudoclasses avec & */
{
    @include background-color; 
    @include nolists-restaurants;
    @include br-restaurant-menu;
    @include img-hidden;
    .restaurant
    {
        @include restaurant-name;
        & i
        {
            @include fa-heart;
        }
        & h1
        {
            @include restaurant-name-title;
        }
    }

    .starters
    {
        @include starters-margin-top;
    }

    .starters, .courses, .deserts
    {
        @include all-menus;
        h2
        {
            @include border-bottom-h2;
        }
    }

    .dishes /* Les esperluettes à renomer. Uniquement les pseudoclasses avec & */
    {
        &__box
        {
            @include radius-shadow-box;
            &:hover
                {
                    background-color: #99E2D0;
                }
        }
        &__menu
        {
            @include radius-shadow-menu;
            p
            {
                @include font-weight-title;
            }
        }
        &__detailed-price
        {
            @include radius-shadow-detailed-price;
        }
    }

    .button
    {
        @include btn-restaurants;
    }
}

// Footer 
footer
{
    @include footer;
}