// Mixins
@import "../mixins.scss";
@import "../mixins-restaurants.scss";

// Variables

// Page
@font-face /* Logo et titres */
{
    font-family: Shrikhand;
    src: url('Fonts/Police/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face /* Texte */
{
    font-family: Roboto;
    src: url('Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	@include body;
}

header div
{
    @include header;
}

.header-title
{
    @include header-title-restaurant;
}

header
{
    @include tablet-header;
}


// Aside
aside
{
    @include aside;
}

aside img
{
    @include aisde-img;
}


// Section .restaurant-menus --> Changer en #
h1
{
    @include h1-restaurants;
}



.restaurant-menus /* Les esperluettes à renomer. Uniquement les pseudoclasses avec & */
{
    @include background-color; 
    @include nolists-restaurants;
    @include br-restaurant-menu;
    @include img-hidden;
    .restaurant
    {
        @include restaurant-margin;
        @include restaurant-name;
        & i
        {
            @include fa-heart;
        }
        & h1
        {
            @include restaurant-name-title;
        }
    }

    .starters
    {
        @include starters-margin-top;
    }

    .starters, .courses, .deserts
    {
        @include all-menus;
        h2
        {
            @include border-bottom-h2;
        }
    }

    .dishes /* Les esperluettes à renomer. Uniquement les pseudoclasses avec & */
    {
        animation: BoxApparition 1s ease 0s 1 normal forwards;
        @keyframes BoxRising
        {
            0% {
                opacity: 0;
                transform: translateY(70px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .box-1
        {
            animation: BoxRising 1s ease .5s 1 normal forwards;
        }

        .box-2
        {
            animation: BoxRising 1s ease .6s 1 normal forwards;
        }

        .box-3
        {
            animation: BoxRising 1s ease .7s 1 normal forwards;
        }

        .box-4
        {
            animation: BoxRising 1s ease .8s 1 normal forwards;
        }

            
            






















        
        &__box
        {
            p
            {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            overflow: hidden;
            @include radius-shadow-box;
            .hidden
            {
                display: none;
                // display: flex;
                width: 23%;
                background-color: #99E2D0;
                color: white;
                position: absolute;
                // right: 19px;
                height: 81px;
                top: 0%;
                border-radius: 0px 15px 15px 0px;

                /* Partie animation ? */
                animation: Anim-check 1s ease 0s 1 normal forwards;
                
            }
            &:hover .hidden
            {
                display: inline-block;
                right: 0px;

                /* Partie animation ? */
                @keyframes Anim-check {
                    0% {
                        opacity: 1;
                        transform: translateX(100%);
                    }
                    
                    100% {
                        opacity: 1;
                        transform: translateX(0%);
                    }
                }
                i
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;

                    /* Partie animation : Où la placer ? */
                    animation: rotate-i 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                    .fa-check-circle
                    {
                    /* Partie animation */
                    @keyframes rotate-i {
                        0% {
                            transform: rotate(90deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                        }
                    }
                }
            }
        }
        &__menu
        {
            display: flex;
            flex-direction: row; /* Les 3 servent à activer overflow ellipsis */
            flex-wrap: wrap;
            @include radius-shadow-menu;
            p
                {
            @include font-weight-title;
            }
        }
        &__detailed-price
        {
            @include radius-shadow-detailed-price;
            p:nth-child(2)
            {
                overflow: visible;
                text-overflow: inherit;
                white-space: none;
            }
        }
    }

    .button
    {
        @include btn-restaurants;
    }
}

// Footer 
footer
{
    @include footer;
}


/* Tablette */
/* Fin tablette */

/* Laptop classic */
/* Fin laptop classic */

/* Laptop L */
/* Fin laptop L */
