// Mixins
@import "../mixins.scss";
@import "mixin-francaise.scss";

// Variables

// Page
@font-face /* Logo et titres */
{
    font-family: Shrikhand;
    src: url('Fonts/Police/Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face /* Texte */
{
    font-family: Roboto;
    src: url('Fonts/Police/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: white;
	margin:0;
	padding:0;
	overflow-x: hidden;
    font-family: Roboto;
}

header div
{
    @include header-div;
    a
    {
        @include left-arrow-title;
        button
        {
            background-color: Transparent;
            border: none;
            cursor: pointer;
        } 
    }
    .header-title
    {
        @include header-title-restaurants;
    }   
}

h1
{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: Shrikhand;
}

img
{
    width: 100%;  
    object-fit:contain;
}

.restaurant-menus
{
    @include background-color; 
    @include nolists-restaurants;
    .restaurant
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & i
        {
            display: flex;
            align-items: center;
            padding-right: 9%;
        }
        & h1
        {
            font-weight: bold;
            padding-left: 3.5%;
        }
    }

    .starters h2, .courses h2, .deserts h2
    {
        border-bottom: #99E2D0 solid 3px;
        width: 53px; /* media query, faudra autre solution ou pas ? */
        padding-bottom: 2%;
    }

    .dishes
    {
        &__box
        {
            @include radius-shadow;
            background-color: white;
        }
        &__menu
        {
            font-weight: bold;
        }
        &__detailed-price
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .button
    {
        @include btn-restaurants;
    }
}

// Footer 
footer
{
    display: flex;
    flex-direction: column;
    @include footer;
    p
    {
        @include footer-title;
    }
}